<%= form_for(@test_plan) do |f| %>
  <ul>
  <% @test_plan.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>

  <%= f.fields_for :categories do |category| %>
    <%= render 'category_fields', f: category %>
  <% end %><br />
  <%= link_to_add_fields "Add Category", f, :categories %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
