<%= simple_form_for(@test_plan, :html => { :class => 'form-horizontal' }) do |f| %>
  <ul>
  <% @test_plan.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <%= f.input :name, :input_html => { :class => "span6" } %>
  <%= f.input :author, :input_html => { :class => "span6" } %>
  <br />
  <%= f.fields_for :categories do |builder| %>
    <%= render 'category_fields', f: builder %>
  <% end %><br /><br />
  <%= link_to_add_fields "Add Category", f, :categories %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
