<div>
  <br />
  <%= simple_form_for([@feature, @test_plan]) do |f| %>
    <%= f.error_notification %>
      <div class="form-inline" role="form">
        <div class="form-group">
          <div>
            <%= f.input :name, label: 'Title', :placeholder => 'Title' %>
          </div>
        </div>
        <br /><br />
        <div class="form-group">
          <div>
            <%= f.input :author, label: 'Author', :placeholder => 'Author' %>
          </div>
        </div>
      </div>
      <br />
    <%= f.fields_for :categories do |builder| %>
      <%= render 'category_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add category", f, :categories, :test_cases %>

    <div class="actions">
      <%= f.submit "Create", :class =>"btn btn-primary" %>
    </div>
  <% end %>
