<h1><%= @test_plan.name %></h1>
<p>Created by <%= @test_plan.author %></p>
<br />
<h3>Test Cases (<%= @test_plan.test_cases.size %>):</h3>
<%= render partial: 'test_plans/test_case', collection: @test_plan.test_cases %>
<br />
<%= render partial: 'test_cases/form' %>
<br />