<h1><%= @test_plan.name %></h1>

<ol class="categories">
<% @test_plan.categories.each do |category| %>
  <li>
    <%= category.title %>
    <ol class="test_cases">
      <% category.test_cases.each do |testcase| %>
        <li><%= testcase.description %></li>
      <% end %>
    </ol>
  </li>
<% end %>
</ol>

<%= link_to 'Edit', edit_test_plan_path(@test_plan) %> |
<%= link_to 'Back to Test Plans', test_plans_path %>
